a {
  color: #FF2E38;
}

a:visited {
  color: #c7000a;
}

a:hover, a:focus, a:active {
  background-color: #FF2E38;
  color: #fff;
}

blockquote {
  -webkit-box-shadow: 3px 3px 3px snow;
  box-shadow: 3px 3px 3px snow;
}

td {
  border: 1px solid #ff9499;
}

tr:nth-of-type(2n+1) {
  background-color: white;
}

tfoot td,
th {
  background-color: #FF2E38;
  border: 1px solid #ff9499;
  color: #fff;
}

pre {
  background: white;
  -webkit-box-shadow: 3px 3px 3px snow;
  box-shadow: 3px 3px 3px snow;
}

abbr, acronym {
  border-bottom: 1px dotted #FF2E38;
}

mark, ins {
  background: #FF2E38;
  color: #fff;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: transparent;
  border: 2px solid #FF2E38;
}

button:hover, button:active, button:focus,
.button:hover,
.button:active,
.button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
  background-color: #FF2E38;
  border-color: #FF2E38;
  -webkit-box-shadow: 3px 3px 3px snow;
  box-shadow: 3px 3px 3px snow;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
  color: #ff9499;
  border: 1px solid #ff9499;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 3px 3px 3px #ff9499;
  box-shadow: 3px 3px 3px #ff9499;
  border-color: #FF2E38;
  color: #FF2E38;
}

/* Text meant only for screen readers. */
.screen-reader-text:focus {
  background-color: #fff;
  color: #FF2E38;
}

.site-header {
  background-color: #FF2E38;
  color: #fff;
}

.header-title a {
  color: #fff;
}

.header-title a:hover, .header-title a:focus, .header-title a:active {
  background-color: inherit;
}

.header-meta a {
  color: #fff;
}

.header-meta a:hover, .header-meta a:focus {
  background-color: #fff;
  color: #FF2E38;
}

.main-navigation a {
  color: #fff;
}

.main-navigation a:hover, .main-navigation a:focus {
  background-color: #fff;
  color: #FF2E38;
}

.main-navigation .primary-menu a {
  background-color: transparent;
  border-bottom: 5px solid transparent;
  color: #fff;
}

.main-navigation .primary-menu li > a:hover,
.main-navigation .primary-menu li > a:focus {
  border-bottom-color: #fff;
}

.menu-toggle {
  border-color: #fff;
}

.menu-toggle:focus,
.menu-toggle:hover {
  background-color: #fff;
  color: #FF2E38;
}

.menu-wrapper {
  background-color: #FF2E38;
  border-left: 2px solid #ff6169;
}

.menu-wrapper .social-icons a:hover .icon,
.menu-wrapper .social-icons a:focus .icon {
  fill: #FF2E38;
}

.menu-wrapper .button {
  border: 2px solid #fff;
}

.menu-wrapper .button:hover, .menu-wrapper .button:active, .menu-wrapper .button:focus {
  background-color: #fff;
  color: #FF2E38;
}

.search-form .icon {
  color: #FF2E38;
}

.hentry,
.no-results,
.error-404 {
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 3px snow;
  box-shadow: 3px 3px 3px snow;
}

.entry-header {
  border-left: 1em solid #FF2E38;
}

.entry-footer {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.page-links > span {
  border: 2px solid #FF2E38;
}

.posts-navigation,
.post-navigation {
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 3px snow;
  box-shadow: 3px 3px 3px snow;
}

.comments-area {
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 3px snow;
  box-shadow: 3px 3px 3px snow;
}

.comments-pagination .nav-links > span {
  border: 2px solid #FF2E38;
}

.comments-pagination .nav-links > a {
  border: 2px solid transparent;
}

.sticky,
.bypostauthor {
  color: #fff;
  background-color: #FF2E38;
}

.sticky a,
.bypostauthor a {
  color: #fff;
}

.sticky a:hover, .sticky a:focus,
.bypostauthor a:hover,
.bypostauthor a:focus {
  background-color: #fff;
  color: #FF2E38;
}

.site-footer {
  background-color: #FF2E38;
  border-top: 1px solid #ff6169;
  color: #fff;
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover, .site-footer a:focus {
  background-color: #fff;
  color: #FF2E38;
}

.site-footer button,
.site-footer .button,
.site-footer input[type="button"],
.site-footer input[type="reset"],
.site-footer input[type="submit"] {
  border-color: #fff;
}

.social-icons a .icon {
  fill: #fff;
}

.social-icons a:hover .icon,
.social-icons a:focus .icon {
  fill: #FF2E38;
}

.widget {
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 3px snow;
  box-shadow: 3px 3px 3px snow;
}

.footer-widget-area {
  border-bottom: 1px solid #ff6169;
}

.menu-widget,
.footer-widget {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.widget_calendar tr:nth-of-type(2n+1),
.widget_calendar a {
  color: #FF2E38;
}

.widget_calendar a:hover,
.widget_calendar a:focus,
.widget_calendar tfoot a,
.widget_calendar tfoot a:visited {
  color: #fff;
}

.widget_calendar tfoot a:hover,
.widget_calendar tfoot a:focus {
  background-color: #fff;
  color: #FF2E38;
}
