$color__text-main: #444;
$color__text-screen: #21759b;
$color__text-input: lighten( $color__text-main, 20%);
$color__text-input-focus: $color__text-main;
$color__link: $color__text-main;
$color__link-visited: darken( $color__link, 20% );
$color__link-hover: $color__link-visited;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ddd;
$color__background-button: $color__text-main;
$color__background-pre: lighten( $color__text-main, 70% );
$color__background-ins: #fff9c0;

$color__border-button: $color__text-main;
$color__border-button-hover: $color__text-main;
$color__border-button-focus: $color__text-main;
$color__border-input: lighten( $color__text-main, 20%);
$color__border-input-focus: $color__text-main;
$color__border-abbr: #666;

$shadow_depth: 3px;

$font__main: 'Exo 2', sans-serif;
$font__heading: 'Audiowide', 'Exo 2', sans-serif; 
$font__code: 'Space Mono', monospace;
$font__pre: monospace;
$font__line-height-body: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-pre: 1.6;

$breakpoint_mobile: 34em;   // 480px at 14px font size.
$breakpoint_tablet: 40em;   // 640px at 16px font size.
$breakpoint_laptop: 60em;   // 960px at 16px font size.
$breakpoint_desktop: 1280px;   // 1280px at 18px font size.

$bodyscale__small: ( $breakpoint_mobile: 13, $breakpoint_tablet: 14, $breakpoint_laptop: 15, $breakpoint_desktop: 16 );
$bodyscale__standard: ( $breakpoint_mobile: 14, $breakpoint_tablet: 15, $breakpoint_laptop: 16, $breakpoint_desktop: 18 );
$bodyscale__large: ( $breakpoint_mobile: 14, $breakpoint_tablet: 16, $breakpoint_laptop: 17, $breakpoint_desktop: 20 );

$typescale__major-third-mobile: ( h1: 2.441em, h2: 1.553em, h3: 1.25em, h4: 1.175em, h5: 1.125em, h6: 1em);
$typescale__major-third: ( h1: 4.441em, h2: 1.953em, h3: 1.553em, h4: 1.25em, h5: 1.175em, h6: 1.125em);

$typescale__perfect-fourth-mobile: ( h1: 3.157em, h2: 1.777em, h3: 1.333em, h4: 1.25em, h5: 1.125em, h6: 1em);
$typescale__perfect-fourth: ( h1: 5.157em, h2: 2.369em, h3: 1.777em, h4: 1.333em, h5: 1.25em, h6: 1.125em);

$typescale__augmented-fourth-mobile: ( h1: 3.998em, h2: 1.999em, h3: 1.414em, h4: 1.25em, h5: 1.125em, h6: 1em);
$typescale__augmented-fourth: ( h1: 5.998em, h2: 2.827em, h3: 1.999em, h4: 1.414em, h5: 1.25em, h6: 1.125em);

$typescale__perfect-fifth-mobile: ( h1: 5.063em, h2: 2.25em, h3: 1.5em, h4: 1.25em, h5: 1.125em, h6: 1em);
$typescale__perfect-fifth: ( h1: 7.063em, h2: 3.375em, h3: 2.25em, h4: 1.5em, h5: 1.25em, h6: 1.125em);

$size__site-main: 100%;
$size__site-sidebar: 25%;