.main-navigation {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 2em;
	margin: 0 auto;
	min-width: 0;
	width: 100%;

    @media screen and (min-width: $breakpoint_desktop){
        max-width: $breakpoint_desktop;
		padding: 2em 0;
	}

	a {
        color: $color__background-body;

        &:hover,
        &:focus {
            background-color: $color__background-body;
            color: $color__text-main;
        }
    }
}

.primary-menu {
	list-style: none;
	margin-bottom: 3em;
	padding: 0;

	a {
		background-color: transparent;
		border-bottom: 5px solid transparent;
		border-radius: 0px;
		color: $color__background-body;
		display: inline-block;
		padding: .25em;
		text-transform: uppercase;
		text-decoration: none;
		transition: all .25s ease-in-out;
	}

	a:hover,
	a:focus {
		background-color: transparent;
		border-bottom-color: $color__background-body;
		color: $color__background-body;
		outline: none;
	}
}

.sub-menu,
.children {
	list-style: none;
	padding-left: 2em;
	font-size: .9em;
}

// Logo styles
a.custom-logo-link {
	border: none;
	display: inline-block;
	line-height: 0;
	margin: 0;
	padding: 0;
	transition: all .25s ease-in-out;

	&:hover,
	&:focus {
		background-color: transparent;
		transform: scale(1.1);
	}

	img {
		max-height: 4em;
		width: auto;
	}
}

a.home-link {
	align-items: center;
	border: 2px solid $color__background-body;
	border-radius: 3px;
	display: flex;
	padding: .5em 1em .5em .5em;
	text-transform: uppercase;
	text-decoration: none;

	&:focus,
	&:hover {
		background-color: $color__background-body;
		color: $color__text-main;
		outline: none;
	}
}

.home-icon {
	padding: 9px;
}

// Menu button styles
.menu-toggle {
	align-items: center;
	border-color: $color__background-body;
	display: flex;
	margin-left: auto;
	padding: .5em 1em .5em .5em;

	&:focus,
	&:hover {
		background-color: $color__background-body;
		box-shadow: none;
		color: $color__text-main;
		outline: none;
	}
}

// Menu area sliding panel
.menu-wrapper {
	background-color: $color__text-main;
	border-left: 2px solid lighten( $color__text-main, 10% );
	bottom: 0;
	height: 100vh;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 2em;
	position: fixed;
	right: -17px;
	top: 0;
	transition: all .25s ease-in-out;
	visibility: hidden;
	width: 0;
	z-index: 100;
	
	@media screen and (min-width: $breakpoint_desktop){
		padding: 3em;
	} 

	.menu-toggle {
		border: none;
		padding: 0;
	}

	.social-icons a:hover .icon,
	.social-icons a:focus .icon {
		fill: $color__text-main;
	}

	.button {
		border: 2px solid $color__background-body;
		border-radius: 3px;
		padding: 1em 1.5em;

		&:hover,
		&:active,
		&:focus {
			background-color: $color__background-body;
			color: $color__text-main;
		}
	}
}

.main-navigation.toggled .menu-wrapper {
	max-width: 80vw;
	opacity: 1;
	visibility: visible;
	width: 30em;
}

.menu-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;

	@media screen and (min-width: $breakpoint_desktop){
		margin-bottom: 3em;
	} 
}

.menu-title {
	margin: 0;
}

.search-form {
	display: flex;

	label {
		flex: 1 1 0px;
		min-width: 0px;
	}

	input {
		height: 100%;
	}

	button {
		border: none;
		line-height: 0;
		padding: 0;

		&:hover .icon,
		&:focus .icon{
			color: $color__background-body;
		}
	}

	.icon {
		color: $color__text-main;
		margin: auto 0;
	}
}

.small-icons .search-form input{
	width: calc(100% + 2em);
}

.medium-icons .search-form input{
	width: calc(100% + 2.5em);
}

.large-icons .search-form input{
	width: calc(100% + 3em);
}
